@font-face {
    font-family: 'Roboto Bold';
    src: url(assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto Regular';
    src: url(assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Tilt Neon';
    src: url(assets/fonts/TiltNeon-Regular.ttf);
}

:root {
    --light-clr: rgb(170, 237, 254);
    --darker-clr: rgb(84, 140, 173);
    --darkest-clr: rgb(39, 63, 88);
    --main-gr: linear-gradient(to bottom, var(--darkest-clr) 0%, var(--darker-clr) 60%, var(--darkest-clr) 80%);

    --btn-bg-clr: rgb(116, 192, 228);
}

body {
    font-family: 'Tilt Neon';
    background: var(--main-gr);
    color: white;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.subwrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

h1 {
    font-family: 'Tilt Neon';
}

label {
    font-weight: 800;
    text-align: center;
}

input, textarea {
    border-radius: 15px;
    font-weight: 500;
}

button {
    border-radius: 15px;
    background-color: var(--btn-bg-clr);
    border: none;
    padding: 0.5em 2em;
    font-weight: 800;
    color: white;
    font-family: 'Tilt Neon';
    font-size: 1rem;
}