@font-face {
    font-family: 'Roboto Bold';
    src: url(assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto Regular';
    src: url(assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Tilt Neon';
    src: url(assets/fonts/TiltNeon-Regular.ttf);
}

:root {
    --light-clr: rgb(170, 237, 254);
    --darker-clr: rgb(84, 140, 173);
    --darkest-clr: rgb(39, 63, 88);
    --main-gr: linear-gradient(to bottom, var(--darkest-clr) 0%, var(--darker-clr) 60%, var(--darkest-clr) 80%);

    --btn-bg-clr: rgb(116, 192, 228);
}

body {
    font-family: 'Tilt Neon';
    background: var(--main-gr);
    color: white;
}

.selection-wrapper {
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.subwrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 40rem;
    width: 100vw;
}

h1 {
    font-family: 'Tilt Neon';
}

label {
    font-weight: 800;
    text-align: center;
    margin-top: 1.5em;
}

input, textarea {
    border-radius: 15px;
    font-weight: 500;
    margin-top: 1.5em;
}

button {
    border-radius: 15px;
    background-color: var(--btn-bg-clr);
    border: none;
    padding: 0.5em 2em;
    font-weight: 800;
    color: white;
    font-family: 'Tilt Neon';
    font-size: 1rem;
    margin-top: 1.5em;
    text-shadow: -1px -1px 1px #aaa,
    0px 2px 1px rgba(0,0,0,0.5),
    2px 2px 1px rgba(0,0,0,0.7),
    0px 0px 2px rgba(0,0,0,0.4);
    border-radius: 10px;
    box-shadow: 
    4px 4px 6px rgba(0,0,0,0.8),
    inset 3px 3px 5px rgba(255, 255, 255, 0.7),
    inset -3px -3px 5px rgba(0, 0, 0, 0.7);
    background-image: 
        linear-gradient(to bottom right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 30%, rgba(0, 0, 0, 0.15) 100%);
    background-position: top left;
}

#selection {
    border-radius: 5px;
    background-color: var(--darkest-clr);
    color: white;
    font-weight: 700;
    font-size: 1.4rem;
    width: 15rem;
    font-family: 'Tilt Neon';
}

textarea {
    width: 100%;
    box-sizing: border-box;
  }

.hidden {
    display: none;
}